     h1 {
             color: cadetblue;
     }
     p{
    color: purple;
}
body {
  padding: 1em;
      background-color: lightpink;
}

  li {
      background-color: cadetblue;
  color: white;
}
  p {
  background-color: lightblue);
}